#root {
    margin: 0;
    font-family: Source Sans Pro, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #6e7c8c
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vh-20 {
    height: 20vh;
}

.vh-40 {
    height: 40vh;
}

.border-lg {
    border: 5px solid;
}

.entry-title {
    font-weight: bold;
    color: #344861
}

.text-normal:hover {
    text-decoration: none;
}

.btn-circle {
    border-radius: 3rem !important;
}